files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIC9DCCAdwCAQAwga4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlh
      MRIwEAYDVQQHDAlSb3NldmlsbGUxGDAWBgNVBAoMD1BvdGFwb3YgV2VkZGluZzEV
      MBMGA1UECwwMZGV2ZWxvcGVtZW50MR4wHAYDVQQDDBVscHIubHV4cGFydHlyZW50
      cy5jb20xJTAjBgkqhkiG9w0BCQEWFnpoaWp1bmxpNzc5OUBnbWFpbC5jb20wggEi
      MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDKiS8IzGYFezrWcq9JjZK/92AP
      eGMvejsvkXw3Q1X04bvWXZ3et8NlXICbjxbq1872jKoTq6BntH5EzPshLmUI6nv0
      rMPKKs5TiHwwC3+bXYbqiXbvhQPqJtBOewSFsseBac2A5Kv4SCPu3Z93ZZ5q/acS
      WmvDMNxfNI2UO4V7jFGb9zjkGrnPjfNma9D0c7twjoewp6kNFqE85Kyq150uSffS
      yKXIPOWKduJQEF5bdOlGaTdtVZXAzYP8frX9t9D0Mz/PAOsjRWGLA6qh8zUOCs6E
      0KRxK9kyI7OfWSR5Q/3lj7XId+eWs495mpyc0zRxGQmCYmrh7jwxnAi+vm1NAgMB
      AAGgADANBgkqhkiG9w0BAQsFAAOCAQEAI8vewjYJvnJ0Cnxo8aoxzBhuinq+JV0B
      H3+S1xy5lySW7hs3s0LjUsOjMzp04qUEkykuxPJDiBhCJxLIFIy1lBpk3URL6TnV
      7HMDuuPOHhC7L+MJf3VRhZvMf4QJ/tnKOJlC+l5qh9+/OFPfaK7Ex5100YxGWHE5
      S9hcJtHCudxibr3129YJiQLZCTjO14dshGMGHqdAjUtVgdBatdF+5G0yxKTQ79Wi
      LLsIhP/8wQwuSrXwfTJqWiw9u0THuN6Z3Wm40eHcfpX91S7JJDrCARMD1sW1X36o
      /ZA0uoKYoOY2HR6/kvMb2BTdRSL0/VQiUE97oNvu7fALGrnd5Pdteg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDKiS8IzGYFezrW
      cq9JjZK/92APeGMvejsvkXw3Q1X04bvWXZ3et8NlXICbjxbq1872jKoTq6BntH5E
      zPshLmUI6nv0rMPKKs5TiHwwC3+bXYbqiXbvhQPqJtBOewSFsseBac2A5Kv4SCPu
      3Z93ZZ5q/acSWmvDMNxfNI2UO4V7jFGb9zjkGrnPjfNma9D0c7twjoewp6kNFqE8
      5Kyq150uSffSyKXIPOWKduJQEF5bdOlGaTdtVZXAzYP8frX9t9D0Mz/PAOsjRWGL
      A6qh8zUOCs6E0KRxK9kyI7OfWSR5Q/3lj7XId+eWs495mpyc0zRxGQmCYmrh7jwx
      nAi+vm1NAgMBAAECggEAExwJd4uNjrPXU9eDSW3VrE4jXqJNvXOLdQwFi9NLH21T
      A0FW/WYaRgyJx+Oi1mqhSOrxuyRk4JQLm+M5SKKvfr1dD7NjT8ZlLEWC7iePlTGo
      YqWwtp22xld+LQF3ZkP9hezdKm2o+iaYWVfIzYOlhFPFeTpV05dfG46CUzugdw0V
      n8Nc9ZHaHqJQbXs7pfxjznQL5qRN0UKdY6H/WnyWhNlPGCtfVYy4nkq+5HUmYEPk
      V2FiU4Bx1wdWm8CdwfAlXHR/AHdetHYw25vt0V6+C+VZ17Cy80XnIcP4xO+m4uIu
      G0RFk1PMEWm+zryrIjKQbY4z3mCam9zhlZmwvasZEwKBgQD4DBFnPsYufJkXMIyy
      AWh6Xktk2vs4B/VxkMaPfusB/tShivBza1LQGBn9xvURNQve+xSq+Lhu4HwSn8zf
      jZgLpPc/fim6f83hy+pcaFLq/vxxP3FEw977AJBlmXC6i02Kq4J2/5T+by9s7bpJ
      nnlUr7UckmlznLSI7Kyv/Y3jswKBgQDRB5EANBZFIUygb8N1wdZ/cpt4VvAspPrS
      jWc1BNg3WcbbYlebS7XPBiB7VBdv81+DgO9A92hU1PeOgRjcxR+Scd8u30jJL4ds
      yxfWwGco+V3Snnb3WU4CqRgoVOyKXYjH1LVWe35P1vAT3uKglWnO2+wyzCQ64Pl4
      NlR0Cx3q/wKBgB/2hiOUvjrtSVjoo6iob8sc7YAwi6C7vdAFhOCmzSezq7ipS7TD
      xqcUA/1krt2pxT7VgeNKK5H2EWbg+qhv+YC+oDGpUz06DNCk0y1XMCAh/WumbjUb
      PFeByhmdfR48pyBQW350DsH+l9DkjVXBOwdDoQXug/Im5kiintoKxUbrAoGADd7/
      q1DJjYrZJ+hiwyS61DhJwuGaDIxiLKi/iZApvPqTLKnJAIA0r2lLrIN3DrHKy9I5
      jkkcvkxnpShB+xyFrNUrp1Of4+HojbqoeVLJRbnOlRR49o8RkzGfbcW88K2mTwR5
      iCSnzCqKQfdPeLKRk+2aLgDIArQ9OdH5Jr46HQcCgYARm5DBIzqYE71IzeUFZr3K
      ItKq31f69g3T2iUiMDnE9hiNt6ykPTYVF2dHFJMGY5iZPUEmyCu+Ojzspj3AMghN
      cOKcuBmF/ofxtqqdqQXjQkferG+ffzt6UT+d0otVzRwoftgdO1pb28KiLia4hqcP
      IOJ96Qlrj6O9BYuQg3/EHA==
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"