.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    background: url(https://d3snlw7xiuobl9.cloudfront.net/rose.jpg) no-repeat center center fixed;
    background-size: cover;
}
form{
    width: 600px;
    height: auto;
    padding: 1em;
    background: #222222;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    text-align: left;
    color: white;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
    width: 80%;
}
.myinput{
    width: 85%;
    background: #2D2D2D;
    padding: 0.7em;
    margin-bottom: 0.9rem;
    border-radius: 25px;
    color: white;
}
p{
    color: white;
    text-align: center;
}
h1{
    font-size: 50px;
    text-align: center;
    color: white;
}

