<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="py-3 border-bottom">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-3 pt-1"></div>
            <div class="col-6 text-center">
              <a class="fs-1 text-bg-dark text-end text-decoration-none" href="/">Potapov Weddings</a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                <a class="btn btn btn-outline-light mx-2" href="#/login">Login</a>
                <a class="btn btn btn-outline-light" href="/signUp">Sign up</a>
            </div>
          </div>
        <div class="container d-flex flex-wrap justify-content-center">
            <a class="d-flex align-self-center link-body-emphasis text-decoration-none">
              <span class="fs-6 text-bg-dark text-center">Sacramento | South Carolina</span>
            </a>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="navbar-brand"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mb-4" id="navbarColor01">
            <ul class="nav nav-underline navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/rental">Rentals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About Us</a>
              </li>
            </ul>
            <form class="d-flex" id="other-page-form" role="search" method="get" action="/rental">
              <input class="form-control me-2" type="search" placeholder="Search Products" name="kw" aria-label="Search" id="product-search">
              <button class="btn btn-outline-light item-search-btn" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold mb-4 text-decoration-underline">Who Are We</h1>
          <p class="lead">Potapov Weddings is a premier wedding rental service based in Sacramento and South Carolina. We offer a wide range of wedding essentials and decor to make your special day truly unforgettable. Our team is dedicated to providing top-notch service and ensuring that every detail of your wedding is perfect.</p>
          <p class="lead">Our mission at Potapov Weddings is to help couples create their dream wedding without breaking the bank. We strive to provide high-quality rental items at affordable prices, making it easy for our clients to bring their vision to life. Our vision is to be the go-to wedding rental service for couples all around the world known for our exceptional service and vast selection of products.</p>
          <h3 class="text-decoration-underline py-3">Contact Us:</h3>
          <p class="lead">Elliot Potapov: (916)-598-4721</p>
          <p class="lead">Email: Elliotpotap@gmail.com</p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="picture/wedding-example.jpg" alt="" width="720">
        </div>
      </div>
</div>


<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    

</body>
</html>